body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.card{
    background-color: brown;
    width: 500px;
    text-align: center;
    margin: auto;
    margin: top 20px;
    
}

h1{
    padding-top: 10px;
    font-size: 22px;
    margin: auto;
}

h2{
    font-size: 15px;
    font-weight: 100px;
    letter-spacing: 2px;
}

p{
    font-size: 18px;
    padding:30px;
    background-color: lightcoral;
    text-align: justify;
}

