div{
    background-color: blue;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

div{  /*bordes*/
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px; /* redondear los bordes*/


    border: 5px  solid black; /* equivalente  a los anteriores*/



}